@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.main {
    background-image: url("img/BG.jpg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-size: max(1000px, 100vw);
}

body {
    background-color: black;
    overflow-x: hidden;
    min-height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.75;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    max-width: 81vw;
    margin: auto;
    justify-content: space-between;
    height: 41px;

}

nav img {
    color: red;
    width: 149px;
    position: relative;
    z-index: 10;
    margin-top: 44px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'martel-sans', 'sans-serif';
    height: calc(100% - 41px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    font-weight: bolder;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 54px;
    text-align: center;


}

.hero> :nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 54px;
    padding-top: 0px;
    margin-top: -10px;
    text-align: center;

}

.hero :nth-child(3) {
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    font-style: normal;
    margin-top: 15px;
    text-align: center;
}

.placeholder {
    margin-top: 15px;
}

.one {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.two {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #fff;
}


.hello {
    box-sizing: border-box;
    position: absolute;
    height: 300px;
    width: 1611px;
    top: 151px;
    bottom: 0;
    left: -45px;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    border: solid .25rem transparent;
    border-top-left-radius: 100% 30%;
    border-top-right-radius: 100% 30%;
    border-bottom: none;

    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}


.hello::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.021);
    cursor: pointer;
}

.btn-eng {
    background-color: rgba(255, 255, 255, 0.021);
}



.btn-red-sn {
    background-color: red;
    color: white;
    padding: ;
    font-size: ;
    border-radius: 4px;
}

.btn-red {
    background-color: red;
    color: white;
    font-weight: 600;
    padding: 12.6px 24px;
    font-size: 20px;
    border-radius: 4px;
}

input {
    font-weight: 500;
    padding: 12.5px 336px 18px 13px;
    font-size: 12px;
    color: white;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(136, 121, 121, 0.5);
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 19px;
}

.trend {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    color: white;
}

.container {


    display: flex;
    flex-direction: column;
    margin-left: 140px;
    margin-top: 51px;
    position: relative;
    gap: 10px;

}

.img {
    height: 60px;
    position: relative;
}

.img>svg {
    position: absolute;
    top: 135px;
    left: -20px;
}

.all {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 20px;
}


.all img {
    border-radius: 10px;
}

.all2 {
    display: flex;
    flex-direction: column;
    margin-left: 143px;
    margin-top: 255px;
    position: static;
    gap: 10px;

}

.reasons {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    color: white;
}

.cards {
    display: flex;
    gap: 15px;

}

.cards .hss {
    height: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    color: white;
    margin: 0 0 5px;
    /* reduce space below the heading */
    margin-bottom: -23px;


}

.cards p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #a4a1ae;
    line-height: 1.4;
}

.crd {

    height: 300px;
    width: 313px;

    border-radius: 20px;
    color: #fff;
    text-align: left;
    background: linear-gradient(135deg, #2d0b55 0%, #120024 100%);
    box-shadow: 0 0 25px rgba(37, 32, 40, 0.3);
    transition: all 0.3s ease;
}

.crd:hover {
    box-shadow: 0 0 40px rgba(200, 100, 255, 0.5);
    transform: translateY(-5px);
}

.hss,
p {
    padding-left: 19px;
    padding-top: 20px;
    font-size: auto;
}

p {
    padding-top: 0;
}

.faq {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 141.9px;
    background: black;
    color: white;
    gap: 7px;

}

.faq>.box {
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 44, 44);
    padding: 24px;
    max-width: 75vw;
    gap: 5px;
    cursor: pointer;
    transition: all 1s ease-out;
}

.faq h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.box span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;
}


.again>.two {
    display: flex;
    justify-content: center;
}

.again {
    padding-top: 72px;
}

.again .hero-buttons {
    width: ;
}

.faq .box:hover {
    background-color: rgb(97, 97, 97);
}

footer {
    color: #b3b3b3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    max-width: 60vw;
    margin: auto;
    margin-right: 444px;
    padding: 14px;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    color: #fff;
    gap: 101px;

}

.footer a {
    color: #b3b3b3;
    padding: 8px;
}



.item {
    display: flex;
    flex-direction: column;
}

footer span {
    display: flex;
    justify-content: flex-start;
    margin: 2px;
    padding: 34px 0px;

}

.pics{
    margin-left: 224px;
    margin-top: 48px;
}